<a href="https://colab.research.google.com/github/R4F4I/semester-3-FAST-K240009/blob/master/PAI/LAB/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if statement

- using `if` in python

In [3]:
condition = False

if condition:
  print("true")
else:
  print("false")

false

# task

- grading system , GPA

In [8]:
GPA = float(input("Enter your GPA: "))

if GPA<1:
  print("F")
elif GPA<2:
  print("D")
elif GPA<3:
  print("C")
elif GPA<4:
  print("B")
else:
  print("A")

Enter your GPA: 2.3
C

- if it uses `elif` then it executes the first true condition only

In [7]:
GPA = 3
# despite the first 2 being true
# rather than printing both F and D it will only print F
# as its the first true condition
if GPA>1:
  print("F")
elif GPA>2:
  print("D")
elif GPA>3:
  print("C")
elif GPA>4:
  print("B")
else:
  print("A")

F

# single line if-else (shorthand if else)

- doing `if` `else` in a single line
- no `elif`

In [11]:
GPA = float(input("Enter your GPA: "))

print("F") if GPA<1 else print("A")

Enter your GPA: 2
A

# logical operators

- OR, AND, NOT

In [12]:
a = 20
b = 50
c = 30

In [13]:
if a<b or a>c:
  print("true")
else:
  print("false")

true

In [15]:
if a<b and a>c:
  print("true")
else:
  print("false")

false

In [18]:
if not True:
  print("true")
else:
  print("false")

false

# nested `if`

In [20]:
cond1 = True
cond2 = False

if cond1:
  if cond2:
    print("both true")
  else:
    print('cond2 false')
  print('cond1 true')
else:
  print('cond1 false')

cond2 false
cond1 true

In [25]:
ID = 123
password = 1234

if ID == int(input("enter id: ")):
  if password == int(input("enter password: ")):
    print("logged in")
  else:
    print("wrong password")
else:
  print("wrong ID")

enter id: 123
enter password: 12
wrong password

# `for` loops

In [27]:
array = [1, "apple", True, 2, "banana", False, 3 , "cherry", True]

for item in array:
  if not item:
    break
  print(item)

1
apple
True
2
banana

In [40]:
array = ["A","B","C","D","F","G","H","I"]

for item in array:
  if item == "C" or item == 'F': # `if item == "C" or 'F':` does not work because 'F: is not a condition
    continue
  print(item)

A
B
D
G
H
I

## `range` function for `for` loops

- does not create an `array` of numbers

In [45]:
arr = [0,1,2,3,4]
some = range(5)

print(type(arr))
print(type(some))

if arr == some:
  print("true")
else:
  print("false")

<class 'list'>
<class 'range'>
false

In [41]:
# using it in for loops
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

# Tasks

## task 1
1. Create a program that checks whether a given string is a valid password:
- At least 8 characters long
- Contains both letters and digits
- Contains at least one special character (@, #, $, %)

In [62]:
password = input("enter password: ")
specialChars = '@#$%'
letters = "qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM"
numbers = "1234567890"

if len(password) < 8:
  print("password must be at least 8 characters long")
else:
  has_letter = False
  has_digit = False
  has_special = False
  for char in password:
    if char in specialChars:
      has_special = True
    if char in letters:
      has_letter = True
    if char in numbers:
      has_digit = True
  if has_special and has_digit and has_letter:
    print("password is valid")
  else:
    print("password is invalid")

enter password: asdlfhkjsdfh893247@
password is valid

## task 2
3. Given a list of student records stored as tuples `(name, marks)` write a program to:
- Sort students by marks in descending order
- Print the top 3 students

In [77]:
records = (
    ('a', 60),
    ('b', 90),
    ('c', 85),
    ('d', 23),
    ('e', 45),
    ('f', 143),
    ('g', 13),
    ('h', 113),
)

myList = list(records)
myList.sort(reverse=True)
#records=tuple(myList)

for i in range(3):
  print(myList[i])

TypeError: 'tuple' object is not callable

## task 3
4. Write a program that finds the pair of numbers in a tuple whose sum is closest
to zero.

In [69]:
tuple = (
    (4,3),
    (1,2),
    (3,4),
    (5,6),
    (7,8),
)

# tuple with least sum
least = 999999
for list in tuple:
  sum = list[0] + list[1]

  if sum < least:
    least = sum
    pair = list

# final smallest pair will be printed

print(pair)

(1, 2)