# Tasks

1. Create a program that checks whether a given string is a valid password:
- At least 8 characters long
- Contains both letters and digits
- Contains at least one special character (@, #, $, %)

2. Implement matrix addition and multiplication using nested lists.

3. Given a list of student records stored as tuples (name, marks), write a
program to:
- Sort students by marks in descending order
- Print the top 3 students
4. Write a program that finds the pair of numbers in a tuple whose sum is closest
to zero.
5. Create a student management system where you can:
- Add student name + marks in a dictionary
- Update marks
- Delete a student
- Find the topper
6. Given a dictionary of countries and their populations, write a program to find the
top 3 most populated countries without using sorted().

## task1

In [ ]:
password = input("enter password: ")
specialChars = '@#$%'
letters = "qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM"
numbers = "1234567890"

if len(password) < 8:
  print("password must be at least 8 characters long")
else:
  has_letter = False
  has_digit = False
  has_special = False
  for char in password:
    if char in specialChars:
      has_special = True
    if char in letters:
      has_letter = True
    if char in numbers:
      has_digit = True
  if has_special and has_digit and has_letter:
    print("password is valid")
  else:
    print("password is invalid")

## task 2

In [ ]:
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# mat[i][j] i refers to row, j refers to col

matrix2 = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]

# print(len(matrix1[0]))

# ASSUME THAT BOTH MATRICES ARE SAME
def mat_add(mat1, mat2):
  result = []
  for i in range(len(mat1)): # mat1's rows = a
    row = []
    for j in range(len(mat1[0])):  # mat2'2 col = c
      row.append(mat1[i][j]+mat2[i][j])
    result.append(row)
  return result


# helpers
# for i in range(len(matrix1)):
#     for j in range(len(matrix1[0])):
#       # print("i:",i," j:",j)
#       print(matrix1[i][j])
# print("then")
# for i in range(len(matrix2)):
#     for j in range(len(matrix2[0])):
#       # print("j:",j," i:",i)
#       print(matrix2[j][i])

def print_col(mat,num):
  print("[", end='')
  for i in range(len(mat)):
    print(mat[i][num], end=' ')
  print("]", end='')


#######################################################
# MATRIX MULTIPLICATION
# for 2 matrices axb and bxc the resultant is axc, hence the nested loop takes in the 2nd matrix's col
# and the dot product being performaed is dependant on 1st matrix's col
# in this loop, i is row=a, j is col=b for mat1

def mat_mult(mat1, mat2):
  result = []
  for i in range(len(mat1)): # mat1's rows = a
    row = []
    for j in range(len(mat2[0])):  # mat2'2 col = c
      dotproduct = 0
      for k in range(len(mat1)): # dot product calc, dependant on mat1's cols = b
        # print("i:",i,"j:",j,"k:",k)
        dotproduct += mat1[i][k]*mat2[k][j]

      # FOR DEBUGGING
      # look at the above multiplication like this (mat[r][c])
      #
      # print("result[",i,",",j,"] = ",dotproduct, " = mat1_row",mat1[i], ". mat2_col", end='')
      # print_col(mat2,j)
      # print(end='\n')

      row.append(dotproduct)
    result.append(row)

  return result



print(mat_add(matrix1, matrix2))
print(mat_mult(matrix1,matrix2))

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]
result[ 0 , 0 ] =  30  = mat1_row [1, 2, 3] . mat2_col[9 6 3 ]
result[ 0 , 1 ] =  24  = mat1_row [1, 2, 3] . mat2_col[8 5 2 ]
result[ 0 , 2 ] =  18  = mat1_row [1, 2, 3] . mat2_col[7 4 1 ]
result[ 1 , 0 ] =  84  = mat1_row [4, 5, 6] . mat2_col[9 6 3 ]
result[ 1 , 1 ] =  69  = mat1_row [4, 5, 6] . mat2_col[8 5 2 ]
result[ 1 , 2 ] =  54  = mat1_row [4, 5, 6] . mat2_col[7 4 1 ]
result[ 2 , 0 ] =  138  = mat1_row [7, 8, 9] . mat2_col[9 6 3 ]
result[ 2 , 1 ] =  114  = mat1_row [7, 8, 9] . mat2_col[8 5 2 ]
result[ 2 , 2 ] =  90  = mat1_row [7, 8, 9] . mat2_col[7 4 1 ]
[[30, 24, 18], [84, 69, 54], [138, 114, 90]]

## task 3

In [ ]:
records = (
    ('a', 60),
    ('b', 90),
    ('c', 85),
    ('d', 23),
    ('e', 45),
    ('f', 143),
    ('g', 13),
    ('h', 113),
)

myList = list(records)
myList.sort(reverse=True)
#records=tuple(myList)

for i in range(3):
  print(myList[i])

## task 4

In [ ]:
tuple = (
    (4,3),
    (1,2),
    (3,4),
    (5,6),
    (7,8),
)

# tuple with least sum
least = 999999
for list in tuple:
  sum = list[0] + list[1]

  if sum < least:
    least = sum
    pair = list

# final smallest pair will be printed

print(pair)

## task 5

In [ ]:
students = [
    {
      "id": "S001",
      "name": "Alice Johnson",
      "total_marks": 343
    },
    {
      "id": "S002",
      "name": "Bob Williams",
      "total_marks": 338
    },
    {
      "id": "S003",
      "name": "Charlie Brown",
      "total_marks": 356
    },
    {
      "id": "S004",
      "name": "Diana Miller",
      "total_marks": 278
    },
    {
      "id": "S005",
      "name": "Eva Davis",
      "total_marks": 366
    },
    {
      "id": "S006",
      "name": "Frank White",
      "total_marks": 326
    },
    {
      "id": "S007",
      "name": "Grace Wilson",
      "total_marks": 338
    },
    {
      "id": "S008",
      "name": "Henry Taylor",
      "total_marks": 364
    },
    {
      "id": "S009",
      "name": "Ivy Moore",
      "total_marks": 285
    },
    {
      "id": "S010",
      "name": "Jack Harris",
      "total_marks": 353
    }
  ]

def update_marks(name, marks):
  for student in students:
    if student["name"] == name:
      student["total_marks"] = marks

def remove_student(name):
  for student in students:
    if student["name"] == name:
      students.remove(student)

def topper(list):
  greatest = 0
  for student in list:
    if student["total_marks"] > greatest:
      greatest = student["total_marks"]
      best_student = student
  print(best_student)


print(students)
update_marks("Alice Johnson",345)
print(students)
remove_student("Alice Johnson")
print(students)
topper(students)

[{'id': 'S001', 'name': 'Alice Johnson', 'total_marks': 343}, {'id': 'S002', 'name': 'Bob Williams', 'total_marks': 338}, {'id': 'S003', 'name': 'Charlie Brown', 'total_marks': 356}, {'id': 'S004', 'name': 'Diana Miller', 'total_marks': 278}, {'id': 'S005', 'name': 'Eva Davis', 'total_marks': 366}, {'id': 'S006', 'name': 'Frank White', 'total_marks': 326}, {'id': 'S007', 'name': 'Grace Wilson', 'total_marks': 338}, {'id': 'S008', 'name': 'Henry Taylor', 'total_marks': 364}, {'id': 'S009', 'name': 'Ivy Moore', 'total_marks': 285}, {'id': 'S010', 'name': 'Jack Harris', 'total_marks': 353}]
[{'id': 'S001', 'name': 'Alice Johnson', 'total_marks': 345}, {'id': 'S002', 'name': 'Bob Williams', 'total_marks': 338}, {'id': 'S003', 'name': 'Charlie Brown', 'total_marks': 356}, {'id': 'S004', 'name': 'Diana Miller', 'total_marks': 278}, {'id': 'S005', 'name': 'Eva Davis', 'total_marks': 366}, {'id': 'S006', 'name': 'Frank White', 'total_marks': 326}, {'id': 'S007', 'name': 'Grace Wilson', 'total_marks': 338}, {'id': 'S008', 'name': 'Henry Taylor', 'total_marks': 364}, {'id': 'S009', 'name': 'Ivy Moore', 'total_marks': 285}, {'id': 'S010', 'name': 'Jack Harris', 'total_marks': 353}]
[{'id': 'S002', 'name': 'Bob Williams', 'total_marks': 338}, {'id': 'S003', 'name': 'Charlie Brown', 'total_marks': 356}, {'id': 'S004', 'name': 'Diana Miller', 'total_marks': 278}, {'id': 'S005', 'name': 'Eva Davis', 'total_marks': 366}, {'id': 'S006', 'name': 'Frank White', 'total_marks': 326}, {'id': 'S007', 'name': 'Grace Wilson', 'total_marks': 338}, {'id': 'S008', 'name': 'Henry Taylor', 'total_marks': 364}, {'id': 'S009', 'name': 'Ivy Moore', 'total_marks': 285}, {'id': 'S010', 'name': 'Jack Harris', 'total_marks': 353}]
{'id': 'S005', 'name': 'Eva Davis', 'total_marks': 366}

## task 6

In [3]:
countries = [
    {
        "country": "China",
        "population": 1425671352
    },
    {
        "country": "India",
        "population": 1417173173
    },
    {
        "country": "Indonesia",
        "population": 275501339
    },
    {
        "country": "United States",
        "population": 333287557
    },
    {
        "country": "Pakistan",
        "population": 235824862
    },
    {
        "country": "Nigeria",
        "population": 218541212
    },
    {
        "country": "Brazil",
        "population": 215313498
    },
    {
        "country": "Bangladesh",
        "population": 171186372
    },
    {
        "country": "Russia",
        "population": 144713314
    },
    {
        "country": "Mexico",
        "population": 127504125
    },
    {
        "country": "Japan",
        "population": 123951692
    },
    {
        "country": "Philippines",
        "population": 115559009
    },
    {
        "country": "Ethiopia",
        "population": 123379924
    },
    {
        "country": "Egypt",
        "population": 110990103
    },
]

# fetch the 3 largest population without sort
# a new list of 3 for all the top countries
# if the largest population is found move to the next the index in list
# in this index find the largest population less than the prev index val

pop_list = []

print(countries)
for i in range(3):
  largest = 0
  for country in countries:
    if country["population"]>largest:
      largest = country["population"]
      greatest_country = country

  if greatest_country:
    pop_list.append(greatest_country)
    countries.remove(greatest_country) # to prevent duplication

print("###################")
print(pop_list)

[{'country': 'China', 'population': 1425671352}, {'country': 'India', 'population': 1417173173}, {'country': 'Indonesia', 'population': 275501339}, {'country': 'United States', 'population': 333287557}, {'country': 'Pakistan', 'population': 235824862}, {'country': 'Nigeria', 'population': 218541212}, {'country': 'Brazil', 'population': 215313498}, {'country': 'Bangladesh', 'population': 171186372}, {'country': 'Russia', 'population': 144713314}, {'country': 'Mexico', 'population': 127504125}, {'country': 'Japan', 'population': 123951692}, {'country': 'Philippines', 'population': 115559009}, {'country': 'Ethiopia', 'population': 123379924}, {'country': 'Egypt', 'population': 110990103}]
###################
[{'country': 'China', 'population': 1425671352}, {'country': 'India', 'population': 1417173173}, {'country': 'United States', 'population': 333287557}]