## 🏏 Question 01: Robust Cricket API Tool

**Goal:** Build a robust, command-line tool to fetch and display a summary of live cricket matches from the `cricketdata.org` API.
**Topics:** File I/O, Error Handling (`try...except`), API Consumption (`requests`, `json`), Data Parsing, Dictionary/List operations.

### Technical Specifications:

1.  **Configurable Endpoint:** The script must **read the API URL from a local text file named `api.txt`**; it cannot hardcode the URL.
2.  **Robust Error Handling:** Use `try...except` blocks to handle:
    * **Network Errors:** Gracefully handle `requests.exceptions.RequestException` (e.g., no internet) and print a user-friendly error.
    * **HTTP Errors:** If the API returns a non-200 status code (e.g., 401, 404), the script must print the error `status_code` and the raw `response.text` for debugging.
3.  **API Status First:** The script must first parse the JSON and print a summary of the API's own status metadata.
    * Print **all top-level keys** except for the `'data'` key (too large) and the `'apikey'` key (for security).
4.  **Graceful API Failures:**
    * Check that the JSON's `"status"` key is `"success"` and that a `"data"` key exists and is not empty.
    * If the status is not `"success"`, print the error message provided in the API's **`"reason"`** key.
5.  **Formatted Match Display:** If all checks pass, loop through the list of matches in the `"data"` key and print a clearly formatted summary showing the:
    * Match Name (`name`)
    * Match Status (`status`)
    * Venue (`venue`)
    * Date (`date`)
6.  **Nested Score Details:** Inside the match loop, check if a `'score'` key exists and contains data. If it does, loop through the nested list of scores and print the details for each inning:
    * Inning (`inning`)
    * Runs (`r`)
    * Wickets (`w`)
    * Overs (`o`)

Your final output should be a clean, readable report printed directly to the console.

In [50]:
import requests, json

try:
  with open('api.txt','r') as obj:
    api_url = obj.read()



  response = requests.get(api_url)
  response.raise_for_status()

  # metaStatus = response.

  json = response.json()

  dataList = json['data']

  # print(type(json))
  # print(metaData)

  # print(type(dataList[2]))


  #  API STATUS

  metaData = json.items()
  for key, value in metaData:
    if key not in ['apikey','data']:
      print(f"{key}: {value}")

  #  API STATUS

  matches = []

  for data in dataList:
    tempDict = {}
    tempDict['name'] = data['name']
    tempDict['status'] = data['status']
    tempDict['venue'] = data['venue']
    tempDict['date'] = data['date']


    matches.append(tempDict)


  with open('matches.json','w') as obj:
    obj.write(str(matches))

  with open('rawData.json','w') as obj:
    obj.write(str(dataList))



except Exception as e:
  with open('response.txt','w') as obj:
    obj.write(str(response))
  print(e)

'data'

In [41]:
import pandas as pd

# Creating a DataFrame
data = {
    'City': ['London', 'Paris', 'Tokyo'],
    'Population': [8982000, 2141000, 13960000]
  }
df = pd.DataFrame(data)

print(df) #
# Basic Operations
print(df.head(1)) # First row
print(df['City']) # Access a Series (column)

# Filtering/Selection
large_cities = df[df['Population'] > 5000000]
print(large_cities)

print(df.describe())

# Grouping
# df.groupby('City')['Population'].sum()

     City  Population
0  London     8982000
1   Paris     2141000
2   Tokyo    13960000
     City  Population
0  London     8982000
0    London
1     Paris
2     Tokyo
Name: City, dtype: object
     City  Population
0  London     8982000
2   Tokyo    13960000
         Population
count  3.000000e+00
mean   8.361000e+06
std    5.933921e+06
min    2.141000e+06
25%    5.561500e+06
50%    8.982000e+06
75%    1.147100e+07
max    1.396000e+07